/********************** MISE EN PAGE DEBUT ************************/
*{
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}
html{
    background-color : #ffffff;
	background-image : url("../Images/background.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position : bottom right;
	background-size : contain;
	color : white;
	font-family : "Helvetica Neue", verdana, Helvetica;
	font-size : 14px;
	height : 100%;
}

body{
	height : 100%;
	margin : 0px;
	position: relative;
	width : 100%;
	display : table;
}
/********************** MISE EN PAGE FIN ************************/

/********************** HEADER DEBUT ************************/
header{
	height : 32px;
	background-color : #1d3d5f;
	position : fixed;
	top : 0;
	width : 100%;
	padding-left : 100px;
	border-bottom : solid #0b1b29 2px;
}

#logo {
	margin-top : 5px;
}	
/**** MENU BARRE DE RECHERCHE DEBUT ****/
#search{
	margin-left : 15px;
	border-radius : 15px;
	padding : 3px 5px 3px 10px;
	border : solid #06131f 1px;
	width : 180px;
	position : relative;
	top : -6px;
}
/**** MENU BARRE DE RECHERCHE FIN ****/
/**** MENU MENU-DEROULANT/SOUS-MENU DEBUT ****/
.menu{
	position : relative;	
	margin-top : -36px;
	margin-left : 290px;
}

.titre_menu{
	margin-bottom:2px;
}

.menu ul{
	margin: 0;
	padding:0;
	list-style-type:none;
	text-align:center;
	margin-left: -2px;
}

.menu li{
	float:left;
	margin:auto;
	border-left : solid #0b1b29 2px;
	height : auto;
}

.menu li a {
	display:block;
	min-width:100px;
	color:white;
	text-decoration:none;
	padding:7px;
	font-size : 13px;
	background-color : #1d3d5f;
	font-weight : bold;
	text-shadow: 2px 2px 0px #0b1b29;
 }

 .menu li ul {
	position:absolute;
 }
 
.menu ul li ul {
	display:none;
	min-width:160px;
	border-bottom : solid #0b1b29 1px;
 }
.menu ul li:hover ul {
	display:block;
 }
.menu li:hover ul li {
	float:none;
}

 .menu ul li ul li a {
  	border-right : solid #0b1b29 2px;
  	text-align : left;  
  	padding-left : 15px;
  	background : url("../Images/fleche_vertical.png") left no-repeat #1d3d5f;
  	background-position : 5px;
 }
 
  .menu ul li ul li a:hover {
  	border-right : solid #0b1b29 2px;
  	text-align : left;  
  	padding-left : 15px;
  	background : url("../Images/fleche_vertical_hover.png") left no-repeat #11283e;
  	background-position : 5px;
 }

/**** MENU MENU-DEROULANT/SOUS-MENU FIN ****/
			/**** MENU RESPONSIVE DEBUT ****/
				@media screen and (max-width: 1100px) and (min-width: 10px) {
					#logo {
						margin-left : -95px;
					}
					#search{
						width : 100px;
						margin-left : 5px;
						}
					.menu{
						margin-left : 110px;
					}
					.menu li a {
						padding-left : 0px;
						padding-right : 0px;
					}
				}
			/**** MENU RESPONSIVE FIN ****/
/**** MENU AJOUTER DEBUT ****/
#add a{
	margin-top : 3px;
	float : left;
	margin-left : 20px;
}
/**** MENU AJOUTER FIN ****/
/**** MENU UTILISATEUR DEBUT ****/
#UserMenu{
	position : fixed;
	right : 37px;
}

#UserMenu ul {
	margin:0;
	padding:0;
	list-style-type:none;
	text-align:center;
	margin-left: -2px;
 }
#UserMenu li {
	float:right;
	margin:auto;
	border-left : solid #0b1b29 2px;
	border-right : solid #0b1b29 2px;
	
 }
#UserMenu li a {
	 display:block;
	 min-width:230px;
	 color:white;
	 text-decoration:none;
	 padding:7px;
	 font-size : 13px;
	 background-color : #1d3d5f;
	 font-weight : bold;
	 text-shadow: 2px 2px 0px #0b1b29;
 }

#UserMenu ul li ul {
	display:none;
	border-bottom : solid #0b1b29 1px;
}
#UserMenu ul li:hover ul {
	display:block;
 }
#UserMenu li:hover ul li {
	float:none;
 }
#UserMenu li ul {
	position:absolute;
}
 #UserMenu ul li ul li a {
  	text-align : left;  
  	padding-left : 15px;
  	background : url("../Images/fleche_vertical.png") left no-repeat #1d3d5f;
  	background-position : 5px;
 }
 #UserMenu ul li ul li a:hover {
  	text-align : left;  
  	padding-left : 15px;
  	background : url("../Images/fleche_vertical_hover.png") left no-repeat #11283e;
  	background-position : 5px;
 }
/****MENU UTILISATEUR FIN ****/
			/**** MENU UTILISATEUR RESPONSIVE DEBUT ****/
				@media screen and (max-width: 1200px) {
					#UserMenu li a {
						width : 180px;
						padding-left : 0px;
						padding-right : 0px;
					}
				}
			/**** MENU UTILISATEUR RESPONSIVE FIN ****/
/**** MENU AIDE DEBUT ****/
#help a{
	font-size : 13px;
	font-weight : bold;
	color : #ffffff;
	text-shadow: 2px 2px 0px #0b1b29;
	position : fixed;
	top : 5px;
	right : 15px;
	text-decoration : none;
}
/**** MENU AIDE FIN ****/
/********************** HEADER FIN ************************/

/********************** CONTENU GAUCHE DEBUT ************************/
table#LeftMainContent{
	float: left;
	background-color : #11283e;
	width : 250px;
	padding : 0 20px 20px 20px;
	border : solid #06131f 1px;
	border-radius : 10px;
	box-shadow : 5px 10px 20px #1d3d5f;
	margin-bottom : 20px;
}
/********************** CONTENU GAUCHE FIN ************************/

/********************** CONTENU DROIT DEBUT ************************/
table#RightMainContent{
	background-color : #1d3d5f;
	width : 60%;
	padding : 0 20px 20px 20px;
	border : solid #06131f 1px;
	border-radius : 10px;
	box-shadow : 5px 10px 20px #1d3d5f;
	margin-bottom : 55px;
	margin-right : 20px;
	margin-left : 300px; 
}
/********************** CONTENU DROIT FIN ************************/
				/**** CONTENU RESPONSIVE DEBUT ****/
						@media screen and (max-width: 1100px) and (min-width: 10px) {
							table#LeftMainContent{
							width : 190px;
							}
							table#RightMainContent{
							width : 65%;
							margin-left : 210px; 
							margin-right : 0px;
							}
						}
				/**** CONTENU RESPONSIVE FIN ****/		
				
/********************** FOOTER DEBUT ************************/
footer{
	bottom : 0;
	clear : both;
	position : absolute;
	height : 30px;
	background-color : #1d3d5f;
	padding-top : 5px;
	width:100%;
	text-align : center;
	margin-top : 25px;
	font-weight : bold;
	font-size : 12px;
	text-shadow: 2px 2px 0px #0b1b29;
	border-top : solid #0b1b29 2px;
	display : table-row;
}
/********************** FOOTER FIN ************************/
				/**** FOOTER RESPONSIVE DEBUT ****/
						@media screen and (max-width: 850px) {
							footer{
								position : absolute;
								height : 36px;
								padding-left : 20px;
								padding-right : 20px;
							}
							#middle{
								width : 90%;
								padding : 50px 0px 0px 20px;
}
						}
				/**** FOOTER RESPONSIVE FIN ****/
				
/********************** MISE EN FORME DIVERS DEBUT ************************/
hr{
	border : solid #ffffff 1px;
}

h3{
	text-shadow: 3px 3px 0px #0b1b29;
}

#middle{
	width : 80%;
	padding : 50px 0px 0px 20px;
}
				/**** MIDDLE RESPONSIVE DEBUT ****/
						@media screen and (min-width: 700px) and (max-width: 870px) {
							#middle{
								width : 100%;
								padding : 50px 0px 0px 20px;
}
						}
						@media screen and (min-width: 470px) and (max-width: 699px) {
							#middle{
								width : 90%;
								padding : 50px 0px 0px 20px;
}
						}
				/**** MIDDLE RESPONSIVE FIN ****/

.stuckRightNav{
	text-align : right;
}

.tab_top_bottom{
	padding-left : 50px;
}

#authentification{
	background-color : #1d3d5f;
	width : 650px;
	height : 280px;
	margin : auto;
	padding : 0 20px 20px 20px;
	border : solid #06131f 1px;
	border-radius : 10px;
	box-shadow : 5px 10px 20px #1d3d5f;
	margin-bottom : 20px;
	margin-top : 100px;
}

.tabAuthen{
	width : 100%;
	padding-bottom : 20px;
}

.label{
	margin-left : 15px;
	border-radius : 15px;
	padding : 3px 5px 3px 10px;
	border : solid #06131f 1px;
	width : 150px;
}
.textarea{
	margin-left : 15px;
	border-radius : 15px;
	padding : 3px 5px 3px 10px;
	border : solid #06131f 1px;
	width : 90%;
	height : 150px;

}

.strucTabAuth{
	padding-top : 50px;
}
.trTabAuth{
	height : 110px; 
	vertical-align : top;
}

.butAuthForm{
	padding-left : 10px;
}

a{
	color : #ffffff;
	text-decoration : none;
}

.alert{
	color : red;
}

.pointer{
	cursor : pointer;
}

/********************** MISE EN FORME DIVERS FIN ************************/
/********************** GERER MDP DEBUT ************************/
#tabListUsers{
	background-color : #1d3d5f;
	text-align : center;
	width : 100%;
	margin : 20px 0px 5px 0px;
	border-left : solid 1px  #11283e;
	border-bottom : solid 1px  #11283e;
	border-right : solid 1px  #11283e;
}

#tabListUsers tr.titre{
	background-color :  #11283e;
	font-weight : bold;
}

.alpha{
	float : left;
	margin:0px 5px 0px 6px;
}

.alpha:hover{
	color : #06131f;
}
/********************** GERER MDP FIN ************************/
/********************** TABLEAU GERER MENU DEBUT ************************/
/*********Add/Create/Edit/Delete DEBUT*********/
.input_text{
	margin-left : 15px;
	border-radius : 15px;
	padding : 3px 5px 3px 10px;
	border : solid #06131f 1px;
	width : 200px;
	position : relative;	
}
/*********Add/Create/Edit/Delete FIN*********/
/*********LeftContent DEBUT*********/
.cat{
	float : left;
	margin-left : 0px;
	padding-left: 0px;
}

.sous_cat{
	float : left;
	margin-left : 0px;
	padding-left: 20px;
}
/*********LeftContent FIN*********/
/*********RightContent DEBUT*********/
#menuButtonNew{
	margin : auto;
	height : auto;
	float:right;
	margin-top : -48px;
}

.manageMenu{
	margin : 0px;
	padding : 0px;
	list-style: none;
}

.Menu{
	border : solid 1px #06131f;
	margin-bottom : 5px;
	padding : 5px 0px 5px 0px;
	background : url("../Images/fleche_vertical.png") left no-repeat #11283e;
	background-position: 5px 12px;
}

.Menu:hover{
	background : url("../Images/fleche_horizontal.png") left no-repeat #11283e;
	background-position: 5px 12px;
	}
	
.sousMenu{
	padding : 0px 0px 15px 0px;
	margin : 0px;
	list-style: none;
	background-color : #1d3d5f;
}

.tab_manageMenu{
	padding : 0px 0px 5px 20px;	
}

.tab_manageMenu td.titre{
	padding-bottom : 15px;
	padding-top : 10px;
}
.tab_manageMenu td.line{
	width : 60%;
}
.tab_manageMenu td.button{
	width : auto;
}

/*********RightContent FIN*********/
/********************** TABLEAU GERER MENU FIN ************************/
/********************** MESSAGERIE DEBUT ************************/
#messArray {
	width : 100%;
	margin : 20px 0px 10px 0px;
	border-left : solid 1px  #11283e;
	border-bottom : solid 1px  #11283e;
	border-right : solid 1px  #11283e;
}
#messArray tr.titre {
	background-color :  #11283e;
	font-weight : bold;
}
#messCheckbox{
	width : 5%;
}
#messTitle{
	width : 45%;
}
#messTitle a{
	text-decoration:none;
	color : white;
}
.messTime{
	width : 15%;
}
#messName{
	width : 35%;
}
#messDelete{
	float : right;
}
#messButton{
	float : right;
}
.cadreMessage{
	border : 2px dashed;
	padding : 20px;

}
.cursor {
	cursor:pointer;
}

/********************** MESSAGERIE FIN ************************/